:root {
	--color-primary: #ff6f32;
	--color-black: #000;
	--color-white: #fff;
	--color-gray: #aaa;
	--color-light-gray: #f3f3f3;
	--color-light-yellow: rgba(255, 219, 66, 0.5);
	--color-yellow: rgba(255,219,77,0.75);
	--color-link: #0288d1;
	--color-link-active: #03a9f4;
	--font-heading: 'Work Sans',sans-serif;
	--font-body: 'Work Sans',sans-serif;
}
