.Popup {
	position: absolute;
	background: var(--color-white);
	box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
	border-radius: 5px;

	&_bottom, &_top {
		transform: translateX(-50%);
	}

	&_right {
		transform: translateY(-50%);
	}
}
